<div class="email-product clearfix">

        <h3 id="email_product">邮件产品群组</h3>
        <div class="show-card">
            <div class="c-left">
                <div class="left">
                    
                    <img src="/images/事务型邮件.png" />
                </div>
                
                <p class="tip">触发事务型邮件</p>
            </div>
            <div class="c-right">
                <div class="right">
                        
                        <img src="/images/营销型邮件.png" />
                    </div>
                
                <p class="tip">营销型邮件</p>
            </div>
    
        </div>
    
    
    </div>