<div class="note-product">
    <div class="embellish">
        <img src="/images/tu3.png" />
    </div>
    <div class="center">
        <div>
            <div class="desc">
                <ul class="box">
                    <li class="item">
                        <div class="title">验证码短信</div>
                        <div class="text">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
                        <div class="more"><a>了解更多&gt;&gt;</a></div>
                    </li>
                    <li class="item">
                        <div class="title">语音验证码</div>
                        <div class="text">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
                        <div class="more"><a>了解更多&gt;&gt;</a></div>
                    </li>
                    <li class="item">
                        <div class="title">会员营销短信</div>
                        <div class="text">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
                        <div class="more"><a>了解更多&gt;&gt;</a></div>
                    </li>
                    <li class="item">
                        <div class="title">会员彩信</div>
                        <div class="text">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
                        <div class="more"><a>了解更多&gt;&gt;</a></div>
                    </li>
                    <li class="item">
                        <div class="title">验证码短信</div>
                        <div class="text">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
                        <div class="more"><a>了解更多&gt;&gt;</a></div>
                    </li>
                </ul>
            </div>
            <div class="sign">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="product clearfix">
            <div class="hidden clearfix">
                <ul class="box clearfix">
                    <li class="item">
                        <div class="text">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
                    </li>
                    <li class="item">
                        <div class="voice text">
                            <div class="title">
                                <div>来自</div>
                                <div>106964429975</div>
                            </div>
                            <div class="random">
                                <div>语音验证码</div>
                                <div>...</div>
                            </div>
                            <div class="phone">
                                <span class="refuse">
                                    <img src="/images/挂断电话.png" />
                                </span>
                                <span class="answer">
                                    <img src="/images/电话(1).png" />
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="text">【易回眸】BC01系列复古机械键盘隆重推出。用复古诠释经典，用科技发现文明。游走指尖的声响，书写文字的重量，键入您我的岁月芳华！</div>
                    </li>
                    <li class="item">
                        <div class="text">【易回眸】亲爱的朋友，全球变暖急剧加速，冰川融化已经对北极熊的生活造成了严重的影响。让我们共同守护同一片蓝天，保护我们共同的家园--地球！
                            <img src="/images/bear.png" />
                        </div>
                    </li>
                    <li class="item">
                        <div class="text">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>