<div class="y-example">
    <div class="case">
        <div class="success">
            <div class="successCase"></div>
            <section class="title">
                <div class="purple"></div>
                <div class="pink"></div>
                <div class="red"></div>
                <div class="green"></div>
            </section>

        </div>

        <div class="example-case">
            <!-- <h3>成功案例</h3> -->
            <div class="title" style="display: none">
                <div class="CaseA case">

                    <p>A</p>
                    <span class="triangle"> !--
                        <span class="triangle">
                            <span class="triangle_white"></span>
                        </span>
                </div>
                <div class="CaseB case">

                    <p>B</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>
                <div class="CaseC case">

                    <p>C</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>
                <div class="CaseD case">

                    <p>D</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>

            </div>
            <div class="content">
                <div class="suit">
                    <div>线上注册会员全自动化销售跟进</div>
                    <div>定向会员短信营销</div>
                    <div>全自动化积分服务</div>
                    <div>全自动化服务策略</div>
                </div>
                <div class="Case_example">
                    <div class="CaseA_example example">
                        <div class="block">
                            <img src="/images/a.png" />
                        </div>

                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/b.png" />
                        </div>
                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/c.png" />
                        </div>
                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/d.png" />
                        </div>
                    </div>

                    <div class="CaseA_example example">
                        <div class="block">
                            <img src="/images/example1.png" />
                        </div>

                    </div>
                </div>
                <div class="print">
                    <div class="clearfix">
                        <span>方案概述</span>
                        <p class="description">监控会员注册事件+注册欢迎+等待时间+监控是否下单+针对未下单进行二次短信跟进+下单后监控付款+付款后进行感恩维护+未付款发起催付流程</p>
                    </div>
                    <div class="clearfix">
                        <span>方案概述</span>
                        <p class="description">针对定向会员+发送营销短信+监控短信点击情况+针对点击的会员进行下单监控+监控付款+购买完成进行关怀感恩</p>

                    </div>
                    <div class="clearfix">
                        <section class="clearfix">
                            <span>方案概述01</span>
                            <p class="description">设置积分到期策略+按会员等级分流+发送短信通知+针对未点击短信的重要的会员进行二次提醒</p>
                        </section>
                        <section class="clearfix">
                            <span>方案概述02</span>
                            <p class="description">设置积分变更策略+按会员等级分流+发送短信与邮件通知+针对未点击短信的重要的会员进行二次提醒</p>
                        </section>
                    </div>
                    <div class="clearfix">
                        <section class="clearfix">
                            <span>方案概述01</span>
                            <p class="description">从物流发货开始+发送短信通知+同城到达+发送同城到达短信通知+收货+发送签收短信通知</p>
                        </section>
                        <section class="clearfix">
                            <span>方案概述02</span>
                            <p class="description">设置生日祝福策略+发送祝福短信+发送邮件生日优惠+监控邮件打开+监控邮件点击优惠链接+监控下单+监控付款+付款后跳转到已有物流服务流程+未付款进入催付流程</p>

                        </section>
                    </div>
                </div>
            </div>
        </div>
        <section class="subNav">
            <div class="purple"></div>
            <div class="pink"></div>
            <div class="red"></div>
            <div class="green"></div>
        </section>
    </div>
</div>