<header class="y-header ">
    <div class="b-center">
        <h1 class="header_logo">
            <a href="/">
                <img src="/images/logo.png" />
            </a>
        </h1>
        <nav>
            <ul class="sf-menu" id="example">
                <li class="nav_item current" mark="automation">
                    <a href="/automation" class="scope introduction">营销自动化</a>
                    <span class="line"></span>
                    <div class="nav_sub">
                        <a href="/automation#autoFunction">智能分组</a>
                        <div class="stand"></div>
                        <a href="/automation#Personal">个性化</a>
                        <div class="stand"></div>
                        <a href="/automation#Flow">工作流</a>
                        <div class="stand"></div>
                        <a href="/automation#Report">智能报表</a>
                        <div class="stand"></div>
                        <a href="/automation#Smart">Web埋点</a>
                        <div class="stand"></div>
                        <a href="/automation#Marketing">营销互动</a>
                    </div>
                </li>
                <li class="nav_item current" mark="email">
                    <a href="/email" class="scope show">邮件营销</a>
                    <span class="line"></span>
                </li>

                <li class="nav_item current" mark="note">
                    <a href="/note" class="scope">短信营销</a>
                    <span class="line"></span>
                </li>
                <li class="nav_item current" mark="about" mark="example">
                    <a href="/about" class="scope">探索发现</a>
                    <span class="line"></span>
                    <div class="nav_sub">
                        <a href="/about/example">成功案例</a>
                        <div class="stand"></div>
                        <a href="/about/form">产品演示</a>
                        <div class="stand"></div>
                        <a href="/about/coming-soon">技术支持</a>
                        <div class="stand"></div>
                        <a href="/about">关于我们</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="tip" id="tip">
            <div class="login">
                <a class="scope" href="http://xrewin.com">登录</a>
            </div>
            <div class="consult">
                <a class="scope" href="/about/form">方案咨询</a>
            </div>
            <div class="phone">
                <a class="scope" href="/about/form">
                    <img src="/images/电话.png" /> 010-64429975
                </a>
            </div>
        </div>
    </div>
</header>