<div class="y-apply y-apply-h">
<div class="center">
    <div class=" block">
        <a href="/post/automation">
            <img class="automation" src="/images/auto.png" />
            <h5 class="title">营销自动化</h5>
            <h5 class="title-sub">Marketing Automation</h5>
        </a>
    </div>
    <div class=" block">
        <a href="/post/email">
            <img src="/images/email.png" />
            <h5 class="title">邮件营销</h5>
            <h5 class="title-sub">Email Marketing</h5>
        </a>
    </div>
    <div class=" block">
        <a href="/post/note">
            <img src="/images/note2.png" />
            <h5 class="title">短信营销</h5>
            <h5 class="title-sub">SMS Marketing</h5>
        </a>
    </div>
</div>
    
</div>